.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    min-width: 100px;
    padding: 8px 14px;
    color: var(--text-color);
    font-weight: 600;
    font-family: var(--font-family);
    border-radius: 2px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;


    + .wrapper{
        margin-left: 16px;
    }

    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
}

//Button types
.rounded{
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 999px;
    color: rgba(22, 24, 35, 0.75);
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 1.4rem;
    font-weight: 700;

    &:hover{
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgb(255, 255, 255);
    }
}

.primary{
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover{
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline{
    color: var(--primary);
    border-color: currentColor;

    &:hover{
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//Button sizes
.small{
    font-weight: 600;
    min-width: 106px;
    padding: 8px 16px;
}

.large{
    width: 100%;
    min-width: 168px;
    padding: 14px 16px;
}

.text{
    min-width: 108px;
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon + .title, .title + .icon{
    margin-left: 7px;
}

.icon{
    display: inline-block;
    width: 24px;
    text-align: center;
}

.separate{
    width: 100%;
    border-top: 1px solid #e6e1e1
}



