@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --search-border-radius: 92px;
    --search-icon: rgba(22, 24, 35, 0.34);
    --primary: #fe2c55;
    --white: #fff;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1230px;
    --default-layout-horizontal-spacer: 24px;
    --text-input: rgb(22, 24, 35);;
    --text-color: #333;
}

html{
    font-size: 62.5%;
}

//Custom tippy tooltip
body{
     font-family: "IBM Plex Sans", sans-serif;
     font-size: 1.6rem;
     line-height: 1.5;
     text-rendering: optimizeSpeed;
     color: var(--text-color);

     .tippy-box{
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
     }

     .tippy-arrow{
        color: rgba(84, 84, 84, 0.92);
     }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
}

input, button, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    font-weight: 700;
}

a{
    text-decoration: none;
}