.search-results{
    width: 500px;
}

.search-title{
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
    font-weight: 600;
}

.search{
    width: 500px;
    height: var(--search-height);
    position: relative;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    margin-left: 182px;


    input{
            flex: 1;
            color: var(--text-input);
            padding-right: 40px;
            font-size: 1.6rem;
            background-color: transparent;
            caret-color: var(--primary)
    }

    input:not(:placeholder-shown) ~ .search-btn{
       color: rgba(22, 24, 35, 0.75);
    }

    input::placeholder{
        color: rgba(22, 24, 35, 0.7);
        opacity: 1;
    }

     &::after{
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, .12);
    }

    &:focus-within, &:hover{
        border: 1px solid rgba(22, 24, 35, 0.2);
    }

    &:hover > .search-btn{
        background-color: rgba(22, 24, 35, 0.05);
        color: rgb(15 17 24);
    }
}

.clear, 
.loading{
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);

    &:hover{
        cursor: pointer;
    }
}

.loading{
    animation: spinner .8s linear infinite;
}

@keyframes spinner{
    from {
        transform:translateY(-50%) rotate(0);
    }
    to{
        transform:translateY(-50%) rotate(360deg);
    }
}

.search-btn{
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: var(--search-icon);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
