.wrapper{
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner{
    height: 100%;
    width: var(--default-layout-width, 1240px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-btn{
    font-size: 2rem;
    margin-left: 16px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.actions{
    display: flex;
    align-items: center;

}

.user-avatar{
    border-radius: 50%;
    width: 32px;
    cursor: pointer;
    height: 32px;
    object-fit: cover;
}

.msg-btn{
    font-size: 1.8rem;
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
    margin: 0 16px;
    position: relative;

    &::after{
        content: '16';
        position: absolute;
        display: flex;
        top: -2px;
        left: 20px;
        min-width: 32px;
        height: 20px;
        color: #fff;
        background-color: var(--primary);
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 10px;
        align-items: center;
        justify-content: center;

    }
}

