.wrapper{
    width: 240px;
    min-height: 1000px;
    padding: 20px 0px 26px 8px;
}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px
}

.icon{
    width: 24px;
    height: 24px;
    font-weight: 700;
    padding: 0px 4px;
}
